# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo

# prisma
apps/api/prisma/migrations/dev.db*
.prisma/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test / coverage
coverage/

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db
